.Prof {
    width: 77%;
    height: 80%;
    background-color: rgba(0, 0, 0, 0.1);
    border-radius: 15px;
    display: flex;
}

.ProfSide {
    width: 27.5%;
    height: 100%;
}

.PostSide {
    width: 72.5%;
    height: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: flex-start;
    padding: 1rem;
}

.Image {
    width: 100%;
    height: 27.5%;
}

.Image img {
    border-radius: 15px;
    margin-top: 5px;
    margin-left: 5px;
}

.Description {
    width: 100%;
    height: 72.5%;
}

.addPost {
    width: 250px !important;
    height: 195px !important;
    box-shadow: 0px 0px 33px 8px rgba(0, 0, 0, 0.75);
    margin: 40px;
    align-items: center;
    padding: 2px;
    background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcR67_iYFsmMnsZ-xVc-ZACaMZEGLBtfvKs1Iw&usqp=CAU);
    justify-content: center;
    text-align: center;
    font-weight: bolder;
    font-size: 50px;
}

.para {
    height: 80%;
    margin-top: 60px;
}