.Prof {
    width: 77%;
    height: 80%;
    background-color: rgba(0, 0, 0, 0.1);
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    color: moccasin;
}

.ProfSide {
    width: 100%;
    height: 10%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.PostSide {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: flex-start;
    padding: 1rem;
    overflow: scroll;
}

.addPost{
    width: 100%;
    height: 10%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.addPostForm{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    z-index: 100000;
}

#Count{
    position: fixed;
    margin: 5px;
}

.addBtn{
    width: 170px;
    height: 80%;
    background: transparent;
    font-size: x-large;
}