.Tabs {
    list-style: none;
    margin: 0;
    padding: 0;
    width: 100%;
    text-align: center;
    display: flex;
    flex-direction: row;
}

.NavBar nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.NavBar li {
    display: inline-block;
    margin: 20px;
}

.NavBar a {
    text-decoration: none;
    color: #EC9F05;
}

.add a {
    color: #20e69d
}

.probel {
    width: 5px;
}

.PaperLi:hover {
    box-shadow: inset 2px 0px 10px 0px darkgrey;
}

.PaperLi {
    background: gray;
}