.Tabs {
    list-style: none;
    margin: 0;
    padding: 0;
    width: 100%;
    text-align: center;
    display: flex;
    flex-direction: row;
}

.NavBar nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.NavBar li {
    display: inline-block;
    margin: 20px;
}

.NavBar a {
    text-decoration: none;
    color: black;
}

.NavBar a{
    color: #fa923f;
}

.probel {
    width: 5px;
}

.PaperLi:hover {
    box-shadow: inset 2px 0px 22px 0px rgb(170,170,170); 
}

.PaperLi{
    background: gray;
}

.btn-grad {background-image: linear-gradient(to right, #DA22FF 0%, #9733EE 51%, #DA22FF 100%)}
.btn-grad:hover { background-position: right center; }